<h1>Trades REST API</h1>
<p>This webapp allows for the creation of trades and their insertion into a database. This database can be queried to find all trades, find trades by id or delete trades</p>
<p>Follow the link below to reach the swagger-ui</p>
<a href="/swagger-ui.html">The Swagger UI belonging to Neill Calvert</a>